
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>-->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVXVSMqJhPnoVvMU5GgEWPttc6KlQ9SDI&sensor=false">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Vik.css" type="text/css" />
<style>
#trackmenav {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
#map {
    height: 500px;
    width:device-width;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

</style>
</head>

<body ng-app="Home" ng-controller="HomeController">

  <nav class="navbar navbar-default">
    <div id="trackmenav" class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><h2>Vikram Divakar</h2></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><button type="button" class="btn btn-link" ng-click="gotoHome()"> Home <span class="sr-only">(current)</span></button></li>
          <li><button type="button" class="btn btn-link" ng-click="gotoProjects()"> Projects and Links </button></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
      <h2> {{tabTitle}}</h2>
      <div ng-show="homeShow">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#TechSkills">Technical Skills</button>
          <div id="TechSkills" class="collapse">
              <h2><u>Technology Stack:</u></h2>
              Python, Slang/SecDB, Java, Scala, Apache Spark, Sybase IQ, Hadoop, DataLake, .NET Stack, C#,VB.NET, Javascript, AngularJS, jQuery,SQL Server,SSRS, Windows MQ, EMS, JMS, Drools, Signavio, RESTful Webservices, Postgresql, MySQL
          </div>
          <br/>
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#Publications">Publications</button>
          <div id="Publications" class="collapse">
              <h2><u>Publications:</u></h2>
              <h3>Journal Paper:</h3>
              <ul>
                  <li>V. Divakar, Y. Zhang, J. C. Zito, E. A. Salley, and D. P. Arnold , “Microelectromechanical inductors with high inductance density via mechanical energy storage” , 2012, J. Micromech. Microeng. 22 (2012) 094003</li>
                  <a href="http://iopscience.iop.org/article/10.1088/0960-1317/22/9/094003/meta" >Link</a>
              </ul>
              <h3>International Conferences</h3>
              <i>Tech. Dig. 11th Int. Workshop on Micro and Nanotechnology for Power Generation and Energy Conversion Apps. (PowerMEMS 2011), Seoul, S.Korea, Nov. 2011</i>
              <ul>
                  <li>V. R. Challa, V. Divakar, J. O. Mur-Miranda, and D. P. Arnold, “Wireless power transmission to an electrodynamic energy harvester using low-frequency magnetic fields,” Pg no 335</li>
                  <a href="http://cap.ee.imperial.ac.uk/~pdm97/powermems/2011/Poster/P-35.pdf">Link</a>
              </ul>
          </div>
          <br/>
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#Education">Education</button>
          <div id="Education" class="collapse">
              <h2><u>Education:</u></h2>
              <ul>
                <li>
                    <div>
                        <h3><u>Master of Science in Electrical and Computer Engineering</u></h3>
                        University of Florida, Gainesville, FL, USA
                        <br/>
                        August 2010 – May 2012
                    </div>
                </li>
                <li>
                    <div>
                        <h3><u>Bachelor of Technology in Electronics and Communication Engineering</u></h3>
                        Sri Jayachamarajendra College of Engineering, Visvesvaraya Technological University, Karnataka, India
                        <br/>
                        September 2006 – July 2010
                    </div>
                </li>
              </ul>
          </div>
      </div>
      <div ng-show="projectsShow">
          <ul>
              <li>
                  <div>
                      <h3>Projects - Hobby</h3>
                      <a href="http://www.vikwiz.org" class="btn btn-link" role="button">TrackMe - GeoLocation Service</a>
                      <a href="http://www.vikwiz.org/sudoku" class="btn btn-link" role="button">Sudoku Solver</a>
                  </div>
              </li>
              <li>
                  <div>
                      <h3>Links - About</h3>
                      <a href="http://github.com/vik1124" class="btn btn-link" role="button">Github - vik1124</a>
                      <a href="https://www.linkedin.com/in/vikramdivakar/" class="btn btn-link" role="button">LinkedIn</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>

  <script src="/js/HomeController.js"></script>
</body>
</html>
